<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring + Thymeleaf + SFTP</title>
    <style>
        .hidden {display: none;}
    </style>
</head>
<body>
<h1>SFTP Server</h1>

<p th:if="${message}" th:text="${message}" style="color: green;"></p>
<p>Status: <strong th:text="${sftpRunning} ? 'Running' : 'Stopped'"></strong></p>

<form th:action="@{/start-server}" method="post" th:if="${!sftpRunning}">
    <button type="submit">Start SFTP</button>
    <input type="text" name="username" placeholder="Your name">
    <input type="password" name="password" placeholder="Your name">
</form>

<form th:action="@{/stop-server}" method="post" th:if="${sftpRunning}">
    <button type="submit">Stop SFTP</button>
</form>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

<br>
<button type="button" onclick="toggleForm()">Add User</button>

<div id="addUserForm" class="hidden">
    <form method="post" onsubmit="event.preventDefault()">
        <label>Username: <input type="text" name="username" required></label><br>
        <label>Password: <input type="password" name="password" required></label><br>
        <button type="submit">Submit</button>
    </form>
</div>

<script>
    function toggleForm() {
        const formDiv = document.getElementById('addUserForm');
        formDiv.classList.toggle('hidden');
    }
</script>

</body>
</html>
